{% extends 'base.html' %}
    {% block title %}Teacher {{ teacher.name }}{% endblock %}
    {% block body %}
    <h1>{{ teacher.name }} {{ teacher.surname }}</h1>
    <a href="/delete/teacher/{{teacher.id}}">Delete</a>
    <hr>

    <form action="/teacher/{{teacher.name}} {{teacher.surname}}" method="post">
        <fieldset>
            <div class="form-group">
                <label>Name:</label>
                {{form.name(value=teacher.name)}}
            </div>
            <div class="form-group">
                <label>Surname:</label>
                {{form.surname(value=teacher.surname)}}
            </div>
            <div class="form-group">
                <label>Birth date:</label>
                {{form.birth_date(value=teacher.birth_date)}}
            </div>
            <div class="form-group">
                <label>Salary:</label>
                {{form.salary(value=teacher.salary)}}
            </div>
            <div class="form-group">
                <label>Date of employment:</label>
                {{form.date_of_employment(value=teacher.date_of_employment)}}
            </div>
            <div class="form-group">
                <label>Address:</label>
                {{form.address(value=teacher.address)}}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Save">
            </div>
        </fieldset>
    </form>
    {% endblock %}