{% extends 'base.html' %}
    {% block title %}Create Teacher{% endblock %}
    {% block body %}
        <h1>Create teacher</h1>
        <hr>
        <form action="{{url_for('create_teacher')}}" method="post">
            <fieldset>
                <div class="form-group">
                    <label>Name:</label>
                    {{form.name}}
                </div>
                <div class="form-group">
                    <label>Surname:</label>
                    {{form.surname}}
                </div>
                <div class="form-group">
                    <label>Birth date:</label>
                    {{form.birth_date}}
                </div>
                <div class="form-group">
                    <label>Salary:</label>
                    {{form.salary}}
                </div>
                <div class="form-group">
                    <label>Date of employment:</label>
                    {{form.date_of_employment}}
                </div>
                <div class="form-group">
                    <label>Address:</label>
                    {{form.address}}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Submit">
                </div>
            </fieldset>
        </form>
    {% endblock %}