{% extends 'base.html' %}
    {% block title %}Main Panel{% endblock %}
    {% block body %}
    <div class="row mt-4">
        <div class="column column-80"><h1>Main panel</h1></div>
        <div class="column"><a href="{{ url_for('logout') }}" class="button button-clear"><h3>Logout</h3></a></div>
    </div>

    <hr>
    <h3>Create: </h3>
    <a href="{{url_for('create_class')}}" class="button button-outline">class</a>
    <a href="{{url_for('create_student')}}" class="button button-outline">student</a>
    <a href="{{url_for('create_teacher')}}" class="button button-outline">teacher</a>
    <hr>
    <table>
        <caption><h3>Classes</h3></caption>
            <tr>
                <th>NO.</th>
                <th>Name</th>
                <th>Supervising teacher</th>
            </tr>
            {% for class in classes %}
            <tr>
                <td>{{loop.index}}</td>
                <td><a href="/class/{{class.id}}">{{class.name}}</a></td>
                <td><a href="/teacher/{{teachers[loop.index0].id}}">{{teachers[loop.index0].name}} {{teachers[loop.index0].surname}}</a></td>
            </tr>
            {% endfor %}
    </table>
    <hr>

    <table>
        <caption><h3>Students</h3></caption>
            <tr>
                <th>NO.</th>
                <th>Name</th>
                <th>Birth date</th>
                <th>Address</th>
            </tr>
            {% for student in students %}
            <tr>
                <td>{{loop.index}}</td>
                <td><a href="/student/{{student.id}}">{{student.name}} {{student.surname}}</a></td>
                <td>{{student.birth_date}}</td>
                <td><a href="https://www.google.pl/maps/place/{{student.address}}" target="_blank" rel="noopener noreferrer">{{student.address}}</a></td>
            </tr>
            {% endfor %}
    </table>
    <hr>

    <table>
        <caption><h3>Teachers</h3></caption>
            <tr>
                <th>NO.</th>
                <th>Name</th>
                <th>Birth date</th>
                <th>Address</th>
                <th>Salary</th>
            </tr>
            {% for teacher in teachers %}
            <tr>
                <td>{{loop.index}}</td>
                <td><a href="/teacher/{{teacher.id}}">{{teacher.name}} {{teacher.surname}}</a></td>
                <td>{{teacher.birth_date}}</td>
                <td><a href="https://www.google.pl/maps/place/{{teacher.address}}" target="_blank" rel="noopener noreferrer">{{teacher.address}}</a></td>
                <td>{{teacher.salary}}</td>
            </tr>
            {% endfor %}
    </table>
    {% endblock %}